/* Estilos para o cabeçalho */
/* Estilos para o cabeçalho */
header {
    background-color: #ff6600; /* Laranja */
    color: #fff;
    text-align: center;
    position: relative; /* Para posicionar a imagem */
}

header img {
    width: 100%; /* Para que a imagem ocupe toda a largura do cabeçalho */
    height: auto; /* Para manter a proporção da imagem */
}

.banner-text {
    font-size: 36px; /* Tamanho da fonte aumentado */
    font-weight: bold; /* Texto em negrito */
    text-transform: uppercase; /* Texto em maiúsculas */
    position: absolute; /* Posiciona o texto sobre a imagem */
    top: 50%; /* Alinha o texto verticalmente no meio */
    left: 50%; /* Alinha o texto horizontalmente no meio */
    transform: translate(-50%, -50%); /* Centraliza o texto */
    margin: 0;
}
/* Estilos para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Cor de fundo mais clara */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Estilos para o menu de navegação */
nav {
    text-align: center;
    background-color: #ff9900; /* Laranja claro */
    padding: 10px;
}

nav a {
    color: #333; /* Cor de texto mais escura */
    text-decoration: none;
    margin: 0 15px;
}

/* Estilos para o conteúdo principal */
.container {
    flex: 1;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #ff6600; /* Laranja */
    color: #fff;
}